<h1>Entries for <%=@project.name%> for the current month</h1>

<ul>
	<%@entries_this_month.each do |entry|%>
		<li><%=entry.comment%> (<%=entry.hours%> hours, <%=entry.minutes%> minutes on <%=entry.date%>) <a href="<%=edit_project_entry_path(@project, entry)%>">Edit</a></li>
	<%end%>
</ul>

<h2>Total Hours for this project for this month: <%=@total_hours_this_month%></h2>
<h2>Total Hours for this project overall: <%=@total_hours_overall%></h2>

<h3><button><a href="<%=new_project_entry_path%>">New Entry</a></button>

